<div class="flex">
  <textarea class="rounded-lg bg-zinc-900 p-4 text-white resize-none w-[50%] h-screen"></textarea>
  <div class="border rounded-lg p-4 bg-zinc-900 w-[50%] h-screen">
    <p>This is a preview of the markdown you entered.</p>
  </div>
</div>
