
---
import Layout from '../../layouts/Layout.astro';
import Markdown from '../../components/preview-markdown.astro';
---

<Layout title="Discord Markdown">
	<h1 class="text-3xl font-bold mb-4">Explore</h1>
  <Markdown value={`
testing some md **b0ld** *italic*

  [not a virus.com](https://vercel.lol)
  `} />

</Layout>

<style>

	a {
		text-decoration: none;
		color: #c1c1c1
	}

	.features {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1rem;
	}
</style>
