---
---
<header class="link-card">
	<a href="/">Discord Markdown™</a>
</header>
<style>

header {
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0.5em;
}

a {
	color: white;
	text-decoration: none;
}

</style>
