---
import Layout from '../layouts/Layout.astro';
import Card from '../components/feature-card.astro'

import { getCollection } from "astro:content";

const allFeatures = await getCollection("feature");
---

<Layout title="Discord Markdown">
	<h1 class="text-3xl font-bold mb-4">Explore</h1>
	<div class="features">
		{allFeatures.map((feature) => (
			<Card title={feature.data.title} body={feature.data.description} href={`/feature/${feature.slug}`} />
		))}

		<Card title="Playground" body="Play with discord markdown" href="/play" />
	</div>
	<a href="https://github.com/Hacksore/discord-md" target="_blank"><p class="mt-4">source code</p></a>
	<a href="https://support.discord.com/hc/en-us/articles/210298617-Markdown-Text-101-Chat-Formatting-Bold-Italic-Underline" target="_blank"><p>discord official docs</p></a>
	<a href="https://gist.github.com/matthewzring/9f7bbfd102003963f9be7dbcf7d40e51" target="_blank"><p>markdown 101 gist</p></a>
</Layout>

<style>

	a {
		text-decoration: none;
		color: #c1c1c1
	}

	.features {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1rem;
	}
</style>
