---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'

import { getCollection } from "astro:content";

const allFeatures = await getCollection("features");
---

<Layout title="Discord Markdown">
	<main>
		<h1>Discord Markdown</h1>
		<div class="features">
			{allFeatures.map((feature) => (
				<Card title={feature.data.title} body={feature.data.description} href={`/features/${feature.slug}`} />
			))}
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.features {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1rem;
	}
</style>
