---
import CommonHead from '../components/common-head.astro';
import Header from '../components/nav-header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../constants';

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  canonicalPath?: string;
}

const { title, description, canonicalPath, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHead
    title={title ?? SITE_TITLE}
    description={description ?? SITE_DESCRIPTION}
    image={ogImage}
    canonicalPath={canonicalPath}
  />
	<body>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 2, 58, 234;
		--accent-light: 2, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html,body {
		font-family: system-ui, sans-serif;
		background: #0f0f14;
		padding: 0;
		margin: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
